/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.page-center {
	position: absolute;
	width: 800px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
}

.field input {
	height: 40px;
	margin-top: 5px;
	width: 350px;
	text-align: center;
}

.submit input {
	height: 55px;
	width: 150px;
	text-align: center;
	margin-left: 100px;
}

p.error{
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}

.header{
	height:50px;
	width:100%;
	background: #999999;
}

.footer{
	position:absolute;
    bottom:0;
    width:99%;
    height:50px;  
	background: #999999;
}

#register{
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}

#register a{
	color: #FFFFFF;
}
